<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANu0rY3FTLQfnW1YKCTi3308M5SVLQJrg</string>
	<key>GCM_SENDER_ID</key>
	<string>852347648107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ankan.My-Note-App</string>
	<key>PROJECT_ID</key>
	<string>my-note-app-cd338</string>
	<key>STORAGE_BUCKET</key>
	<string>my-note-app-cd338.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852347648107:ios:09f36170c4933b335f592e</string>
</dict>
</plist>